body{
    background:#111;
    color:white;
    font-family:Arial,sans-serif;
    margin:0;
}

header{
    background:black;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

h1{
    color:gold;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
}

.hero{
    text-align:center;
    padding:50px;
}

.produtos{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    padding:40px;
}

.produto{
    background:#1c1c1c;
    width:250px;
    padding:25px;
    border-radius:20px;
    text-align:center;
    transition:0.3s;
}

.produto:hover{
    transform:scale(1.05);
}

button{
    background:gold;
    border:none;
    padding:15px 30px;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
}
.produto{
    background:#1c1c1c;
    width:280px;
    padding:25px;
    border-radius:20px;
    text-align:center;
    transition:0.3s;
    box-shadow:0 0 15px rgba(255,215,0,0.15);
}

.produto:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px rgba(255,215,0,0.4);
}

.produto h2{
    color:gold;
}

.produto button{
    width:200px;
    margin:10px;
}
input{
    width:250px;
    padding:15px;
    border:none;
    border-radius:10px;
    font-size:16px;
}
.pesquisa{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin:20px 0;
}

.pesquisa input{
    width:350px;
    padding:15px;
    border:none;
    border-radius:15px;
    font-size:16px;
}

.pesquisa button{
    padding:15px 20px;
}
.whatsapp{
    position:fixed;
    bottom:30px;
    right:30px;
    width:70px;
    height:70px;
    background:#25D366;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:35px;
    text-decoration:none;
    box-shadow:0 0 20px rgba(37,211,102,0.7);
    z-index:1000;
}

.whatsapp:hover{
    transform:scale(1.1);
    transition:0.3s;
}
