body{
    background:linear-gradient(135deg,#090909,#151515,#090909);
    color:white;
    font-family:Arial,sans-serif;
    margin:0;
}

header{
    background:rgba(20,20,20,.95);
    backdrop-filter:blur(15px);
    padding:20px;
    text-align:center;
}

h1{
    color:white;
    letter-spacing:3px;
}

nav{
    margin-top:20px;
}

nav a{
    color:#ddd;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:white;
}

.hero{
    text-align:center;
    padding:70px 20px;
}

.hero h2{
    font-size:40px;
    margin:10px;
}

.hero p{
    color:#aaa;
}

.destaque{
    text-align:center;
}

.produtos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    padding:40px;
}

.produto{
    background:rgba(25,25,25,.85);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,.08);
    padding:30px;
    border-radius:30px;
    text-align:center;
    transition:.5s;
    box-shadow:0 0 20px rgba(255,255,255,.05);
}

.produto:hover{
    transform:translateY(-15px);
    box-shadow:
    0 0 20px rgba(255,255,255,.2),
    0 0 50px rgba(255,255,255,.1);
}

.produto img{
    width:180px;
    height:180px;
    object-fit:contain;
}

.produto h2{
    color:white;
}

button{
    background:white;
    color:black;
    border:none;
    padding:15px 30px;
    border-radius:50px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.4s;
}

button:hover{
    transform:scale(1.08);
    background:#ddd;
}

footer{
    background:#111;
    text-align:center;
    padding:25px;
}

#notificacao{
    position:fixed;
    top:25px;
    right:25px;
    width:320px;
    background:rgba(20,20,20,.95);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.15);
    border-radius:20px;
    color:white;
    padding:20px;
    box-shadow:0 0 30px rgba(255,255,255,.15);
    transform:translateX(400px);
    opacity:0;
    transition:.5s;
    z-index:9999;
}

#notificacao.mostrar{
    opacity:1;
    transform:translateX(0);
}
